<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>NSPhotoLibraryUsageDescription</string>
	<key>CLIENT_ID</key>
	<string>267193594506-ebfeoujd3q2ev2bkcjnc69olpkr50pnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267193594506-ebfeoujd3q2ev2bkcjnc69olpkr50pnu</string>
	<key>API_KEY</key>
	<string>AIzaSyA0_n0yzPUPp-SgvAYTMu-FFpOgkec_KT8</string>
	<key>GCM_SENDER_ID</key>
	<string>267193594506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heaApps</string>
	<key>PROJECT_ID</key>
	<string>my-health-1ea62</string>
	<key>STORAGE_BUCKET</key>
	<string>my-health-1ea62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267193594506:ios:085ec476aaea3631a43373</string>
</dict>
</plist>
